<h2>Create a WineList of your favs: </h2>

<form class="" action="/winelists" method="post">
  <label for="name">List Name:</label>
  <input type="text" name="wine_name">
  <label for="description">List Description:</label>
  <input type="text" name="description">

  <input type="submit" name="" value="Create Entry">
</form>