<h2>Create a new Wine Review: </h2>

<form class="" action="/winereviews" method="post">
  <label for="wine_name">Wine Name:</label>
  <input type="text" name="wine_name">
  <label for="name">Wine Notes:</label>
  <input type="text" name="wine_notes">
  <%# <label for="name">Mood:</label>
  <input type="text" name="mood">
  <input type="text" name="sneaky_hacker_info"> %>

  <input type="submit" name="" value="Create Entry">
</form>