Wine review show page
<br>
<br>
<p><%= @winereview.wine_name %></p>
<p><%= @winereview.wine_notes %></p>


<%  if authorized_to_edit?(@winereview) %>

<a href="/winereviews/<%= @winereview.id %>/edit">edit entry</a>

 <br><br>
  <form class="" action="/winereviews/<%= @winereview.id %>" method="post">
    <!-- How do I turn this form submission into a DELETE request??? -->
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
  </form>

<% end %>