Wine review show page
<br>
<p><%= @winereview.wine_name %></p>
<p><%= @winereview.wine_notes %></p>


<a href="/winereviews/<%= @winereview.id %>/edit">edit entry</a>

<a href="/winereviews/id/edit">delete entry</a>