<div class="container">
  <header><img src="./images/wine on side.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
  <br>
    <h2>Welcome to the WineLister Review App!</h2>

    If you already belong to WineLister please <a href="/login">Log In</a><br>
<br>
 OR <br>
<br> 
   To begin using the WineLister APP <a href="/signup">Sign Up</a><br>


  </div>
</div>
